html{
  height: 100%;
  width: 100%;
  background-image: url('./media/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}
.App {
  text-align: center;
  background-color: #a5703b;
  padding: 100px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  max-width: 100%
}
.App h1{
  padding: 5px 5px;
}
.App p{
  padding: 5px 15px;
}
.App input{
  width: 200px;
}
.App button{
  width: 200px;
}
#msg{
  margin-top: 15px;
  border-radius: 40px;
  background-color: #c19b6c;
}